In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib notebook

In [3]:
df1 = pd.read_csv('Age.csv')
df1

          Name  Age
0        yash1   12
1        gopi2   33
2   asshutosh3   20
3        deep4   60
4       ankit5   12
5        yash2    3
6        gopi3    6
7   asshutosh4   40
8        deep5   60
9       ankit6   70
10       yash3   20
11       gopi4   10
12  asshutosh5   30
13       deep6   50
14      ankit7   60

In [5]:
df2=df1.Age
df2

0     12
1     33
2     20
3     60
4     12
5      3
6      6
7     40
8     60
9     70
10    20
11    10
12    30
13    50
14    60
Name: Age, dtype: int64

In [6]:
df5=df2.sort_values()
df5

5      3
6      6
11    10
0     12
4     12
2     20
10    20
12    30
1     33
7     40
13    50
3     60
8     60
14    60
9     70
Name: Age, dtype: int64

In [7]:
df6=(df5-df5.min())/(df5.max()-df5.min())
df6

5     0.000000
6     0.044776
11    0.104478
0     0.134328
4     0.134328
2     0.253731
10    0.253731
12    0.402985
1     0.447761
7     0.552239
13    0.701493
3     0.850746
8     0.850746
14    0.850746
9     1.000000
Name: Age, dtype: float64

In [8]:
df7=(df5-df5.mean())/df5.std()
df7

5    -1.289665
6    -1.158067
11   -0.982602
0    -0.894870
4    -0.894870
2    -0.543940
10   -0.543940
12   -0.105279
1     0.026320
7     0.333383
13    0.772044
3     1.210706
8     1.210706
14    1.210706
9     1.649368
Name: Age, dtype: float64